<p>Plant Name:<%= @plants.name %> ~ Description:<%= @plants.description %> ~ Watered On:<%= @plants.water %></p>

<a href="/plants/<%=@plants.id%>/edit">Edit</a>

<form action="/plants/<%= @plants.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>

<form action="/logout" method="get">
    <input type="submit" value="Log Out">
</form>
